* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    height: 50px;
}

nav {
    background-color:#212121;
    position: fixed;
    width: 100%;
    z-index: 2;
}

 .menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
}

.menu .menu_link {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
}

.menu .meni_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheder {
    position:absolute;
    width: 100%;
    height: 87px;
    background: rgba(0, 0,0, .6);
    top: 50px;

}

.subheder .subheader_logo {
    display: block;
    min-width: 100%;
    margin-top: 16px;

}

.subheder .subheder_text {
    margin-top: 6px;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;

}

.subheder .subheder_numtext {
    font-size: 12px;
    font-weight: 300;
    text-align: right;
    color: #FFFFFF;
    margin-top: 19px;

}

.subheder .subheader_number {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color:#FFFFFF;
    text-transform:uppercase;
}

.subheder .subbth {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    font-size: 14px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color:#FFFFFF;
    
}

.promo {
    min-height: 884px;
    background: url('../img/uber_bg.png') center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_heder {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color:#FFFFFF;
    text-transform: uppercase;
}

.promo .promo_title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color:#FFFFFF;
    text-transform: uppercase;
}

.promo .promo_text {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color:#FFFFFF;
}

.promo .btn_promo {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color:#FFFFFF;
}

.reason {
    padding: 71px 0 65px 0;
}

.label {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.reason_title {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.reason .reason_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-right: 25px;
}

.reason .reason_block .reason_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.reason .reason_block .reason_descr {
    width: 350px;
}

.reason .reason_block .reason_descr .reason_title_text{
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}

.reason .reason_block .reason_descr .reason_text_descr {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}